{% extends 'base.html.twig' %}

{% block title %}Arosaje{% endblock %}

{% block body %}
<nav class="header-menu">
    <div class="menu-mobile">
        <input id="checkbox1" class="checkbox" type="checkbox"/>
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
    </div>
    <div id="logo-cycloop1" class="logo-cycloop" onClick="/#" style="cursor: pointer;">
      <img class="img-cycloop" src="{{ asset('build/img/logo-cycloop.png') }}">
    </div>
    <div class="right-group">
        <div class="label" onClick="/#" style="cursor: pointer;">
            Atelier
        </div>
        <div class="label" onClick="/#" style="cursor: pointer;">
            Tarifs
        </div>
        <div class="label" onClick="/#" style="cursor: pointer;">
            Boutique
        </div>
        <button type="button" class="p-button-rounded" style="cursor: pointer;">
            <span class="p-button-label">Mon compte</span>
        </button>
    </div>
    <div class="search-box">
        <button class="btn-search">
            <i class="fas fa-search"></i>
        </button>
        <input type="text" class="input-search" placeholder="Rechercher...">
    </div>
</nav>
{% endblock %}
