{% extends 'base.html.twig' %}

{% block title %}Mes Plantes{% endblock %}

{% block body %}
<div class="container">
    <h1>Vos dernières plantes</h1>
    <div class="row flex">
        {% for plante in mesplantes %}
            <div class="col-3">
                <div class="card" style="width: auto;">
                    <img src="{{ asset('build/img/logo-cycloop.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ plante.Nom }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
