{% extends 'base.html.twig' %}

{% block title %}Mes Plantes{% endblock %}

{% block head %}
    <style>
      body {
        font-family: 'Veranda', sans-serif;
      }
      span {
        font-size: 22px;
        cursor: pointer
      }
      .overlay {
        height: 70%;
        width: 0;
        position: fixed;
        z-index: 1;
        margin-top: 2%;
        margin-bottom: 5%;
        margin-left: 20%;
        background-color: rgba(0, 0, 0, 0.75);
        overflow-x: hidden;
        transition: 0.5s;
      }
      .overlay-content {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      .overlay .formulaire {
        padding: 10px;
        text-decoration: none;
        font-size: 32px;
        color: #b9c7cf;
        display: block;
        transition: 0.4s;
      }
      .overlay a {
        padding: 10px;
        text-decoration: none;
        font-size: 32px;
        color: #b9c7cf;
        display: block;
        transition: 0.4s;
      }
      .overlay a:hover,
      .overlay a:focus {
        color: #eeeeee;
      }
      .overlay .close {
        position: absolute;
        top: 10px;
        right: 35px;
        font-size: 50px;
      }
      @media screen and (max-height: 450px) {
        .overlay a {
          font-size: 20px
        }
        .overlay .closed {
          font-size: 40px;
          top: 15px;
          right: 35px;
        }
      }
    </style>
{% endblock %}


{% block body %}
    <div id="navoverlay" class="overlay">
      <a href="javascript:void(0)" class="closed" onclick="closeNav()" style="position: absolute; left: 260px">&times;</a>
      <div class="overlay-content">
        <div class="formulaire">
          <form action="/mesplantes/form" method="post">
            <div class="mb-3">
              <h2>Nouvelle plante</h2>
              <br/>
              <p>***</p>
              <br/>

              <input type="text" name="nom" class="form-control" id="formGroupExampleInput" placeholder="Nommez la plante">
              <br/>

              <select class="form-select" name="type" aria-label="Type de plante">
                <option selected>Sélectionnez le type de plante</option>
                <option value="1">Je ne connais pas.</option>
                <option value="2">Plante à fleur</option>
                <option value="3">Cactus</option>
                <option value="4">Herbacées</option>
                <option value="5">Arbres</option>
                <option value="6">Algues</option>
                <option value="7">Autre?</option>
              </select>
              <br/>

              <label for="formFileSm" name="photo" class="form-label">Photo de la plante</label>
              <input class="form-control form-control-sm" id="formFileSm" type="file">
              <br/>
              <p>***</p>

              <label for="exampleFormControlTextarea1" class="form-label">Information sur la plante</label>
              <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3" placeholder="Periode d'arossage, conditionnment..."></textarea>
              <br/>
              <p>***</p>
              <div class="col-12">
                <button class="btn btn-primary" type="submit" style="background-color: rgb(95, 95, 95);">Valider</button>
              </div>
              <br/>
              <p>***</p>
            </form>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
        <h1>Vos dernières plantes</h1>
        <div class="row flex">
            <div class="col-3" style="height: 15em; width: 9em">
                <span onclick="openNav()">
                    <div class="card" id="overflybb" onmousedown="overclickbrigth(id)" onmouseup="overflyingbrigth(id)" onmouseover="overflyingbrigth(id)" onmouseout="nooverflyingbrigth(id)" style="height: 8.7em; text-align: center;">
                        <img src="{{ asset('build/img/icon-add.png') }}" alt="..." style=" 
                            transform:scale(0.75);
                            padding: 1em;
                            margin-top: 1.6em;"
                        >
                    </div>
                </span>
            </div>
            
            {% for plante in mesplantes %}
                <div class="col-3" style="height: 15em; width: 9em">
                    <a href="#" style="text-decoration: none;">
                        <div class="card" id="overfly{{ loop.index }}" onmousedown="overclickbrigth(id)" onmouseup="overflyingbrigth(id)" onmouseover="overflyingbrigth(id)" onmouseout="nooverflyingbrigth(id)" style="height: 12em; 
                            color: black;
                            border-color:;
                            ">
                            <img src="{{ asset('build/img/logo-cycloop.png') }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="card-title" style="text-align: center;">{{ plante.Nom }}</h4>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        function openNav() {
            el=document.getElementById("navoverlay");
            el.style.width = "20em";
        }
        function closeNav() {
            el=document.getElementById("navoverlay");
            el.style.width = "0em";
        }
        function overclickbrigth($byId) {
            el=document.getElementById($byId);
            el.style.borderColor = "hsla(60, 100%, 50%, 0.3)";
            el.style.borderWidth = "6px";
        }
        function overflyingbrigth($byId) {
            el=document.getElementById($byId);
            el.style.borderColor = "hsla(120, 100%, 50%, 0.3)";
            el.style.borderWidth = "3px";
        }
        function nooverflyingbrigth($byId) {
            el=document.getElementById($byId);
            el.style.borderColor = "rgba(0, 0, 0, 0.2)";
            el.style.borderWidth = "1px";
        }
    </script>
{% endblock %}
